<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${DEBUG:-false}">

    <property name="artifact_id" value="${ARTIFACT_ID:-spark-app}"/>
    <property name="group_id" value="${GROUP_ID:-com.github.delta}"/>
    <property name="log_level" value="${LOG_LEVEL:-INFO}"/>

    <contextName>${artifact_id}</contextName>
    <jmxConfigurator/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} thread=%t, log_level=%-5level, [%logger{24}], %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="${group_id}" level="${log_level}">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.spark" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.sparkproject" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.parquet" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
